@model ByteBank.Forum.ViewModels.ContaConfirmacaoRedefinirSenhaViewModel

@{
    ViewBag.Title = "ConfirmacaoRedefinirSenha";
}

<h2>Redefinir senha</h2>

@using (Html.BeginForm("ConfirmacaoRedefinirSenha", "Conta"))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.EditorForModel()

    <input type="submit" value="Enviar" class="btn btn-default" />
}